@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
  overflow: hidden;
}

body {
  margin: 0;
}

.table_container_height{
  height: calc(100% - 112px);
  overflow: auto;
}